parameters:
    paths:
        - src
    level: 3
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - src/Grid/Exporters/ExcelExporter.php
        - src/SortableModel.php
        - src/Widgets/Grid/Exporters/ExcelExporter.php
    ignoreErrors:
        - '#.*#'
        - '#Call to static method user\(\) on an unknown class Exment.#'
        - '#Call to static method transaction\(\) on an unknown class ExmentDB.#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$id.#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$password.#'
        - '#Call to an undefined method OpenAdminCore\\Admin\\Grid\\Column::pluck\(\).#'
        - '#Cannot call method with\(\) on string.#'
        - '#Cannot call method render\(\) on string.#'
        - '#Return type \(Illuminate\\Contracts\\View\\Factory\|Illuminate\\View\\View\) of method OpenAdminCore\\Admin\\Widgets\\Grid\\Tools\\QuickSearch::render\(\) should be compatible with return type \(string\) of method OpenAdminCore\\Admin\\Widgets\\Grid\\Tools\\AbstractTool::render\(\)#'
        - '#Return type \(Illuminate\\Contracts\\View\\Factory\|Illuminate\\View\\View\) of method OpenAdminCore\\Admin\\Widgets\\Grid\\Tools\\QuickSearch::render\(\) should be compatible with return type \(string\) of method Illuminate\\Contracts\\Support\\Renderable::render\(\)#'
        - '#Instanceof between Illuminate\\Database\\Eloquent\\Relations\\Relation and Illuminate\\Database\\Eloquent\\Relations\\MorphToMany will always evaluate to false.#'
        - '#Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany does not specify its types#'
        - '#Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types#'
        - '#Property OpenAdminCore\\Admin\\Actions\\Action::\$preScriptStr \(string\) does not accept default value of type false.#'
        - '#Method OpenAdminCore\\Admin\\Actions\\Action::setName\(\) should return string but returns#'
        - '#Call to function is_null\(\) with .* will always evaluate to false.#'
        - '#Call to an undefined method OpenAdminCore\\Admin\\Actions\\Interactor\\Interactor::preScript\(\).#'
        - '#Method OpenAdminCore\\Admin\\Actions\\Action::html\(\) should return string but return statement is missing.#'
        - '#Instanceof between .* and .* will always evaluate to false.#'
        - '#Property OpenAdminCore\\Admin\\Actions\\BatchAction::\$grid has unknown class OpenAdminCore\\Admin\\Actions\\Grid as its type.#'
        - '#Cannot call static method (withTrashed|findOrFail)\(\) on .*#'
        - '#Method OpenAdminCore\\Admin\\Actions\\Action::getElementClass\(\) invoked with 1 parameter, 0 required.#'
        - '#Access to an undefined property OpenAdminCore\\Admin\\Actions\\GridAction::\$resource.#'
        - '#Method OpenAdminCore\\Admin\\Actions\\Interactor\\Dialog::preScript\(\) with return type void returns string#'
        - '#Call to an undefined method OpenAdminCore\\Admin\\Actions\\Action::getRow\(\).#'
        - '#Cannot call method getKey\(\) on array.#'
        - '#Method OpenAdminCore\\Admin\\Actions\\Interactor\\Form::addValues\(\) should return array but return statement is missing.#'
        - '#Call to an undefined method DOMNode::setAttribute\(\).#'
        - '#Property OpenAdminCore\\Admin\\Actions\\Interactor\\Form::\$form \(object\) in empty\(\) is not falsy.#'
        - '#Access to an undefined property OpenAdminCore\\Admin\\Actions\\Interactor\\Form::\$validateClientSide.#'
        - '#Call to an undefined method OpenAdminCore\\Admin\\Actions\\Interactor\\Form::(attribute|addF)#'
